$breakpoints: (
    "sm": (
        min-width: 576px,
    ),
    "md": (
        min-width: 768px,
    ),
    "lg": (
        min-width: 992px,
    ),
    "xl": (
        min-width: 1200px,
    ),
);

// Esquema de color
$jordy-blue: #82b9ef;
$light-red-ochre: #e87554;
$spanish-gray: #989797;
$white:#fff;

$medium:18px;
$small:14px;
