.profile{
     display: block;
     border-bottom: 1px solid $spanish-gray;
     height: 15vh;

}

.profile__name{
     float: left;
     margin-left: 2rem;
     margin-top: 10px;
     
     p{
          color: $spanish-gray;
     }
}

.profile__img{
     max-width: 100%;
     height: 10%;
     border-radius: 50%;
     float: left;
}

.profile__button{
     padding: 5px;
     width: 100px;
     color: $white;
     border:none;
}
.profile__button-mensaje{
     background-color: $jordy-blue;
     margin-right: 1rem;
}

.profile__button-seguir{
     background-color: $light-red-ochre;
}
